head
    meta(charset='utf-8')
    title!= title
    meta(
        name='viewport'
        content='width=device-width, initial-scale=1.0'
    )
    base(
        href="/" 
    )
    link(
        type='text/css'
        rel='stylesheet'
        href='/static/bootstrap.min.css'       
    )
    link(
        type='text/css'
        rel='stylesheet'
        href='/static/sticky-footer.css'       
    )
    link(
        type='text/css'
        rel='stylesheet'
        href='/static/custom.css'        
    )
